code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

.responsive-google-slides {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Ratio */
    height: 0;
    overflow: hidden;
}
.responsive-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.responsive-youtube {
  overflow:hidden; 
  padding-bottom:56.25%; 
  position:relative; 
  height:0;}

.responsive-youtube iframe {
  left:0; 
  top:0; 
  height:100%; 
  width:100%; 
  position:absolute;}
